# IntelliJ stuff
/.idea
/reMaster.iml
/out

# Binaries
/dist
/build
/build-lib/

# Generated example files
/examples/*.traj
/examples/*.log
/examples/*.trees

# MacOS cruft
.DS_Store

# Other cruft
.Rhistory
